# Specific files in folders
*.udpipe
/03_Materials/data/*/
/03_Materials/frequency/*/
/03_Materials/Translation/
12_temp
/04_Procedure/en1/*
/04_Procedure/en2/*
/04_Procedure/en3/*
/04_Procedure/en4/*
/05_Data/*/*.sqlite
/04_Procedure/ko1/*
/04_Procedure/ko2/*
/04_Procedure/ko3/*
/04_Procedure/ko4/*
/04_Procedure/ko5/*
/04_Procedure/ko6/*
/04_Procedure/ko7/*
/04_Procedure/ko8/*
/04_Procedure/ko9/*
/04_Procedure/ko10/*
/04_Procedure/ko11/*
/04_Procedure/ko12/*
/04_Procedure/ko13/*
/04_Procedure/ko14/*


# Apple stuff
.DS_Store

# Word files
~$*.docx

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
07_Manuscript/NHB_Reviews_V2.docx
